
* {
    background-color: #ce5b1e;
}
:root {
    --primary-color: #f7eee9;
    --secondary-color: #b19a7a;
    --neutral-color: #caa481;
    --neutral-dark:#304249;
    --accent-color: #111010;
}
.container {
    background-color: var(--neutral-dark);
}
h1, h2 {
    color: var(--primary-color);
}
h3, p {
    color: var(--secondary-color);
}
p {
    color: var(--neutral-color);
}
.circle {
    width: 100px;
    height: 100px;
    background-color: var(--accent-color);
    border-radius: 50%;
}
