 .background {
   font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
    background-color: #e6d9e4;
    color: #093026;
}

.navbar-brand {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    color: rgb(4, 37, 25);
}
.container-fluid  {
    background-color: #bec5c3;
    padding-bottom: 5px;
}
.welcome {
    font-family: "Cormorant", serif;
    font-weight: 400;
    font-style: normal;
    padding: 20px;
    background-color: #a6c8cc;
    border-radius: 10px;
    margin: 20px 0;
}